<ng-container *ngIf="box && box.name">
  <h1>{{ box.name }}</h1>
  <div [ngSwitch]="box.type" class="box">
    <ng-container *ngSwitchCase="boxTypes.BOOLEAN">
      <ng-container *ngTemplateOutlet="templateBoolean"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="boxTypes.NUMBER">
      <ng-container *ngTemplateOutlet="templateNumber"></ng-container>
    </ng-container>
    <ng-container *ngSwitchCase="boxTypes.STRING">
      <ng-container *ngTemplateOutlet="templateString"></ng-container>
    </ng-container>
  </div>
</ng-container>

<ng-template #templateBoolean>
  <button class="button" (click)="turnOff()">Turn Off</button>
  <h2>State: {{ box?.value }}</h2>
  <button class="button" (click)="turnOn()">Turn On</button>
</ng-template>

<ng-template #templateNumber>
  <button class="button fs-32" (click)="calculate(false)">-</button>
  <h2>{{ box?.value }}</h2>
  <button class="button fs-32" (click)="calculate(true)">+</button>
</ng-template>

<ng-template #templateString>
  <input [(ngModel)]="box!.value" placeholder="Introduce your value" />
  <h2>State: {{ box?.value }}</h2>
</ng-template>
